@using InventopryWEB2026.Domin;
@model List<Warehouse>
@{
    Layout = "_Layout";
}

<h2>Warehouses</h2>
<a asp-action="Create" class="btn btn-primary mb-3">Add Warehouse</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var w in Model)
        {
            <tr>
                <td>@w.Name</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@w.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@w.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
